# 0=子弹(直线), 1=炮弹(抛物线), 2=导弹(追踪)
projectile_type = 1
projectile_name = FieldGunShell
speed = 3000.0
damage = 120.0
visual_path = res://asset/projectile/shell.png
splash_radius = 60.0
arc_height = 20.0
turn_speed = 0.0
