# 0=子弹(直线), 1=炮弹(抛物线), 2=导弹(追踪)
projectile_type = 0
projectile_name = MechBlaster
speed = 2500.0
damage = 20.0
visual_path = res://asset/projectile/bullet.png
splash_radius = 0.0
arc_height = 0.0
turn_speed = 0.0
