# 0=子弹(直线), 1=炮弹(抛物线), 2=导弹(追踪)
projectile_type = 1
projectile_name = SiegeShell
speed = 3500.0
damage = 250.0
visual_path = res://asset/projectile/shell.png
splash_radius = 100.0
arc_height = 10.0
turn_speed = 0.0
