unit_name = AttackHelicopter
unit_name_key = KEY_UNIT_ATTACK_HELICOPTER
; --- Survival (生存) ---
health_max       = 45.0
health_regen     = 0.0
shield_max       = 0.0
shield_regen     = 0.0
; 枚举可选: Light, Heavy, Building, Hero
armor_type       = Light
; --- Attack (攻击) ---

; 枚举可选: Physical, Magic, Siege
; 枚举可选: Closest, Lowest_hp, Highest_value
target_priority  = Closest
can_fire_on_move = true
; 挂载武器（左右机翼导弹，不可旋转）
weapon_mount = AttackHelicopterMissile, 0.0, 0.0
weapon_mount = AttackHelicopterMissile, 0.0, 0.0

; --- Movement (移动与碰撞) ---
mass             = 1.5
move_speed       = 50
acceleration     = 1875
turn_speed       = 3.0
turn_acceleration= 8.0
; [关键] 碰撞半径
collision_radius = 9
base_height = 50.0
; 枚举可选: Ground, Air, Sea, Hover
move_type        = Air

; --- Vision (视野) ---
sight_range      = 450.0
aggro_range      = 450.0

; --- Economy (经济) ---
cost             = 800
build_time       = 12.5

; --- Misc (其他/标签) ---
; 支持逗号分隔的多个标签
unit_tags        = Biological

; 渲染基础
texture_path = res://asset/unit/attack_helicopter.png
h_frames = 2
v_frames = 1

; 状态机动画定义
idle_row = 0
idle_frames = 2
move_row = 0
move_frames = 2
anim_fps = 10
