
;########################################
; 战列舰单位配置文件 (Marine)
;########################################

unit_name = Battleship
unit_name_key = KEY_UNIT_BATTLESHIP
; --- Survival (生存) ---
health_max       = 90.0
health_regen     = 0.0
shield_max       = 0.0
shield_regen     = 0.0
; 枚举可选: Light, Heavy, Building, Hero
armor_type       = Light

; --- Attack (攻击) ---
; 枚举可选: Physical, Magic, Siege
; 枚举可选: Closest, Lowest_hp, Highest_value
target_priority  = Closest
can_fire_on_move = true
weapon_mount = BattleshipTurret, 0.0, -11.5
weapon_mount = BattleshipTurret, 0.0, 4.5
weapon_mount = BattleshipTurret, 0.0, 15.0

; --- Movement (移动与碰撞) ---
mass             = 10.0
move_speed       = 35
acceleration     = 20
turn_speed       = 0.7
turn_acceleration= 1.0
; [关键] 碰撞半径
collision_radius = 22
; 枚举可选: Ground, Air, Sea, Hover
base_height = 0.0
move_type        = Sea

; --- Vision (视野) ---
sight_range      = 550.0
aggro_range      = 550.0

; --- Economy (经济) ---
cost             = 50
build_time       = 12.5

; --- Misc (其他/标签) ---
; 支持逗号分隔的多个标签
unit_tags        = Biological

; 渲染基础
texture_path = res://asset/unit/battleship.png
h_frames = 1
v_frames = 1

; 状态机动画定义
idle_row = 0
idle_frames = 1
move_row = 0
anim_fps = 10

;粒子
emit_threshold = 35.0
; 语法: effect_point = 粒子类型, X偏移, Y偏移, 缩放覆盖, 寿命覆盖, 是否波纹
effect_point = WaterFoam, -12.0, -75.0, -1, 2.5, false
effect_point = WaterFoam,  12.0, -75.0, -1, 2.5, false

effect_point = WaterRipple, 0.0, 80.0, 4.0, 3.0, true
