unit_name = FieldGun
unit_name_key = KEY_UNIT_FIELD_GUN

; --- Survival ---
health_max = 100.0
health_regen = 0.0
shield_max = 0.0
shield_regen = 0.0
armor_type = Light

; --- Attack ---
target_priority = Closest
can_fire_on_move = false
deploy_time = 2.0
weapon_mount = FieldGun, -10.0, 0.0

; --- Movement ---
mass = 5.0
move_speed = 19
acceleration = 15
turn_speed = 0.8
turn_acceleration = 1.0
collision_radius = 12
base_height = 0.0
move_type = Ground

; --- Vision ---
sight_range = 450.0
aggro_range = 500.0

; --- Economy ---
cost = 700
build_time = 18.0

; --- Misc ---
unit_tags = Mechanical

; 渲染基础（占位贴图，待替换）
texture_path = res://asset/unit/地面单位03.png
h_frames = 2
v_frames = 3

; 状态机动画
idle_row = 0
idle_frames = 1
move_row = 1
move_frames = 1
deploy_frames = 4
deploy_row = 2
anim_fps = 10
