;########################################
; 坦克单位配置文件 (Marine)
;########################################

unit_name = HeavyTank
unit_name_key = KEY_UNIT_HEAVY_TANK
; --- Survival (生存) ---
health_max       = 150.0
health_regen     = 0.0
shield_max       = 0.0
shield_regen     = 0.0
; 枚举可选: Light, Heavy, Building, Hero
armor_type       = Light

; --- Attack (攻击) ---
; 枚举可选: Physical, Magic, Siege
; 枚举可选: Closest, Lowest_hp, Highest_value
target_priority  = Closest
can_fire_on_move = true
;weapon = MarineBullet, 10.0, 300.0, 0.3, 1200.0, 1.0
;weapon = Shell, 20.0, 500.0, 0.5, 30.0, 4.0
weapon_mount = HeavyTankTurret, -10.0, 0.0

; --- Movement (移动与碰撞) ---
mass             = 1.5
move_speed       = 35
acceleration     = 20
turn_speed       = 0.7
turn_acceleration= 1.0
; [关键] 碰撞半径
collision_radius = 12
; 枚举可选: Ground, Air, Sea, Hover
base_height = 0.0
move_type        = Ground

; --- Vision (视野) ---
sight_range      = 600.0
aggro_range      = 600.0

; --- Economy (经济) ---
cost             = 1000
build_time       = 25.0

; --- Misc (其他/标签) ---
; 支持逗号分隔的多个标签
unit_tags        = Biological

; 渲染基础
texture_path = res://asset/unit/heavy_tank.png
h_frames = 6
v_frames = 1

; 状态机动画定义
idle_row = 0
idle_frames = 6
move_row = 0
move_frames = 6
anim_fps = 10

; 粒子
emit_threshold = 35.0
; 语法: effect_point = 粒子类型, X偏移, Y偏移, 缩放覆盖, 寿命覆盖, 是否波纹
effect_point = Dust, -20.0, -40.0, 2.5, -1, false
effect_point = Dust,  20.0, -40.0, 2.5, -1, false
