; ==========================================================
; 防空导弹塔配置 (Anti-Air Turrent)
; 炮塔部分: anti_air_turrent_missle（空闲缓慢旋转，发现敌人快速转向）
; ==========================================================

building_name_key = KEY_BUILDING_ANTI_AIR_TURRENT
[Identity]
; 建筑名称
building_name=anti_air_turrent
; 建筑类型: Generic, Barracks, Turret, Collector, Storage (对应枚举 BuildingType)
building_type=Turret
; land, water, on_resource
placement = land

[Economy]
; 建造消耗资源
cost=700
; 建造所需时间 (单位: 秒)
build_time=10.0

[Stats]
; 最大生命值
health_max=600.0
; 建筑基础高度（投射物发射高度基准）
base_height=6.0

[Grid]
; 物理占地大小 (Vector2i): 建筑实际阻挡的网格数 (例如 2,2 表示 2x2 格子)
footprint=1,1
; 放置间距 (Vector2i): 放置时要求的清理范围，通常等于或大于 footprint
clearance=1,1

[Visuals]
; 纹理文件路径
texture_path=res://asset/building/anti_air_turrent.png
; 图集分栏 (整个贴图有多少列和多少行)
h_frames=1
; 图集分栏
v_frames=1
; 动画播放帧率
anim_fps=8

[Animation]
; 建造中动画帧数 (1 = 只显示第0帧，即待机帧，静止)
building_frames=1
; 待机动画帧数 (1 = 静止)
idle_frames=1
; 待机动画所在的行号 (从0开始)
idle_row=0
; 工作中动画帧数 (1 = 静止)
working_frames=1
; 工作中动画所在的行号
working_row=0

; ----------------------------------------------------------
; 以下为专项属性，根据 building_type 的不同选择性填写
; ----------------------------------------------------------

[Turret]
; 独立武器挂载: [武器名称],[相对建筑中心的本地偏移X], [本地偏移Y]
weapon_mount = anti_air_turrent_missle, 0.0, -3.0
